.navbar
  .navbar-inner
    .container
      %ul.nav
        = active_link_to 'Home', root_path, active: :exclusive, wrap_tag: :li
        = active_link_to 'People', people_path, active: :inclusive, wrap_tag: :li
        = active_link_to 'Publications', publications_path, active: :inclusive, wrap_tag: :li
        = active_link_to 'Subjects', subjects_path, active: :inclusive, wrap_tag: :li
        = active_link_to 'About', about_path, active: :inclusive, wrap_tag: :li
